<h1>Editing Vlan</h1>

<div class='well bs-component'>
  <%= render 'form' %>

    <%= link_to 'Show', @vlan, class: 'btn btn-info' %> |
    <%= link_to 'Back', vlans_path, class: 'btn btn-default '%>
</div>
